// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #364fcc;
$secondary: #faba19;
$accent: #f7f5f5;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #d8e3ff;
$warning: #9e9e9e;

$brdr: 1px solid black;

@import "~quasar-variables-styl";
